.step-2-div {
    background-color: white;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.open-menu-button {
    background-color: none;
    border: none;
    cursor: pointer;
}

.open-menu-button:hover {
    color: burlywood;
}