.pizza-size-button {
    margin-right: 0.2rem;
    background-color: none;
    border: none;
    cursor: pointer;
}

.pizza-size-button:hover {
    color: burlywood;
}

.product-name {
    font-size: 1.2rem;
}

.product-div {
    margin-bottom: 1rem;
}